<body>
<header>
 <h1>Helsebygg AS</h1>
 <nav>
    <a href="/brukerveiledning">Brukerveiledning</a>
    <a href="/alleavvik">Les Avvik</a>
    <a href="/sendavvik">Send Avvik</a>
    <a href="/loggut">Logg Ut</a>
    
 </nav>
</header>