</head>
<body>
<header>
 <h1>Helsebygg AS</h1>
 <nav>  
    <a href="/brukerveiledning">Brukerveiledning</a>
    <% if(user){ %>
      <% if(user.role === "admin"){ %>
        <a href="/avvik/statistikk">Statistikk</a>
        <% } %>
    <a href="/avvik/alle">Les Avvik</a>
    <a href="/avvik/publiser">Send Avvik</a>
    <a href="/logout">Logg Ut</a>
    <% }else{ %>
    <a href="/">Logg på</a>
      <% } %>
 </nav>
</header>