<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/userGuide.css">
<%- include("./partials/header.ejs") %>
<h2><%= title  %></h2>
<section id="description">
<p>Her får du en brukerveiledning om hvordan prossesen for å sende et avvik er. Du må få en kode av IKT avdelingen for å kunne logge inn på siden. Hvis du ikke har koden, kan du dra til IKT avdelingen, og få den tildelt.
    Vi ønsker også for at du er ærlig om avvikene, som skjedde på grunn av det er veldig viktig for oss at du har det bra.
</p>
</section>
<main>
<section class="stage">
    <img src="/img/Steg1Guide.jpg" alt="Bilde som viser hovedsiden til nettsiden med login formen. ">
    
    <p>Det første du ser, når du kommer på nettsiden er den formen, som spør deg om kode. Koden får du av IKT, som du kan kontakte ved mail av å trykke på "Har ikke koden? Spør her!". Etter
        du får koden, så kan du skrive den inn i felte, som pilen viser. Til slutt trykker du på "Logg på" knappen under felte. Hvis du har gjort det da kan du gå til neste steg.
    </p>
</section>
<section class="stage">
<img src="/img/Steg2Guide.png" alt="Bilde som viser forumet for å sende avvik. Det er 1 felt for tittel og en for beskrivelse.">
<p>Etter du har pålogget deg, så blir du sent til fanen der du kan sendet et avvik. I formen må du fylle ut tittelen (Gi en som er tilpasset) og beskrivelse (Gi en velbeskrevet) i feltene. Etter 
du har skrevet alt ferdig kan du trykke på "Send Avvik" knappen. 
</p>
<p>Avviket ditt blir ikke registrert med koden din eller noe som helst, derfor kan du ikke redigere eller slette avviket. Hvis du
har gjort noe feil, når du skrev avviket kontakt IKT avdelingen. Det er kun en "admin", som kan slette eller redigere statusen. Når du har registrert avviket, så blir du sendt til siden der alle avvikene står. 
</p>
</section>
<section class="stage">
<img src="/img/Steg3Guide.png" alt="Bilde viser eksempel av en avvik med tittel og beskrivelse">
<p>Når du blir sendt til "Les Avvik" siden, så kan du lese alle avvik som brukerne har lagt ut. Det er kun en admin, som kan oppdatere statusen på avviket. Når 
    et avvik blir løst, så skal adminen oppdatere den som lukket. Det betyr da at saken ble løst. Det er også umulig å se hvem som har laget avviket i databasen, så alle avvik man lagrer er anonyme.
</p>
</section>
</main>

</body>
</html>